doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Document
	link(rel="stylesheet", href="app.css")
body
	.app
		div.periodo
			select(data-bind="options: periodos, optionsCaption: 'Selecione o período...', optionsText: 'name', value: periodo")
		input.field(data-bind="value: materia" placeholder="Matéria")
		input.field(data-bind="value: teste" placeholder="Nota do Teste")
		input.field(data-bind="value: prova" placeholder="Nota da Prova")
		input.field(data-bind="value: formativa" placeholder="Nota Formativa")
		input.field(data-bind="value: extra" placeholder="Pontos Extra")
		.buttons
			button.btn(data-bind="click: clear") Limpar
			button.btn(data-bind="click: calc") Calcular
		p.nota(data-bind="with: nota, visible: nota()")
			| Sua média é de #[span.bold(data-bind="text: media")] e você ganhou mais #[span.bold(data-bind="text: pontuacao")] na pontuação total

		table.notas(data-bind="visible: notas().length > 0")
			thead.notas-head
				tr
					th Matéria
					th Nota 
					th Pontuação
			tbody(data-bind="foreach: notas")
				tr
					td(data-bind="text: materia")
					td(data-bind="text: nota")
					td(data-bind="text: pontuacao")


	script(type="text/javascript" src="knockout-3.4.0.js")
	script(src="app.js")
	